// Place all the styles related to the Stillinger controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "utf-8";
/* CSS Document */

* {
	font-family: "Roboto";
}
/* border class for layout fixing from view */
.border {
	border: solid red 2px;
}
body {
	background: url("https://photos-6.dropbox.com/t/2/AAD4DpcGVlXKDn9eGND2e_VLTBEr1ZmQSfDm8vPIxovsww/12/416282756/jpeg/32x32/1/_/1/2/bakgrunn.jpg/ELyKhqsDGAogAigC/6gh5Y-4ZMk2h6z3LiJADG-ud39vxfO9PrFzj5k9W61Y?size=1024x768&size_mode=3") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
	margin: 0px;
	width: 100%;
}
.innhold {
	margin-top: 50px;
}
.soekeboks {
	margin: 0px;
}
.form-control {
	height: 40px;
	font-size: 20px;
}
.filter {
	margin-top: 10px;
}
.filter li {
	margin: 0px 5px 0px 0px;
	border-radius: 20px;
	background-color: lightgrey;
}
#filter {
	border-radius: 20px;
}
.underline {
	text-decoration: underline;
}
.filterMeny {
	display: none;
	height: 200px;
	background-color: lightgrey;
	margin-top: -0.5px;
	border-radius: 0px 5px 5px 5px;
}

/* Innhold kort */

.card {
	margin-top: 20px;
	background-color: white;
}

.left-side {
	width: 100px;
	padding: 5px;
}
.left-side img {
	width: 100%;
}
/* avstand */
.left-side p:nth-of-type(1) {
	margin-top: 10px;
	margin-left: 5px;
	font-weight: 500;
}

.middle {
	padding-left: 10px;
	position: relative;
	top: -10px;
}
.middle h1 {
	width: 95%;
	border-bottom: solid black 3px;
	padding-bottom: 5px;
	font-weight: 500;
}
/* yrke og utdanning krav */
.middle div:nth-of-type(1) p {
	margin-top: -5px;
	font-weight: 500;
}
.beskrivelse p {
	font-weight: 300;
}
/* søknadsfrist */
.dato {
	position: relative;
	right: 5%;
	font-weight: 500;
}